// Here you can add other styles

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-gap {
    display: flex;
    gap: 10px;    
}

.newLink{
    margin-left: 10px;
}


.avatar-name{
    display: block;
}
.avatar-email{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper{
    display: flex;
}

.user-profile-wrapper label{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper span{
     
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter-icon {
    display: flex;
    align-items: center; 
    margin-left: -15px;    
}

.custom-pagination-wrapper{
    display: flex;
    justify-content: space-between; 
    align-items: center;    
}


.pagination-label {
    font-size: 12px;
}

.alert-wrapper {
    display: flex;
}

.alert-icon {
    margin-right: 20px;
}
.alert-body{
    width: 500px;
}
.alert-body p {
    margin-bottom: 0 !important;
}

.count {
    font-size: 2rem;
}

.container-center-items{
    display: flex;
    align-items: center;      
}
.capitalize {
    text-transform: capitalize;
}

.float-right {
    float: right;
}

.status {
    width: auto;
    background-color: #3498db; /* Change to your desired color */
    border-radius: 5px; /* Adjust for more or less rounding */
    padding: 3px 10px; 
    // height: 100px; /* Example height */
    text-align: center;
    color: white;
    font-size: 12px;
}

.status-active{
    background-color: #5cb85c;
}

.status-inactive{
    background-color: #f0ad4e;
    color: #000;
}

.header-logo{
    font-size: 20px;
}

.nav-link-btn{
    width: 100%;
}

.breadcrumb-item-a{
    text-decoration: none;
    color: #f3f4f7;
    cursor: default;
}

.breadcrumb-item-a:hover {
    text-decoration: none; 
}

.alert-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 10px;
}

.device-header{
    height: 38px;
    display: flex;
    align-items: center;    
}

.text-black-a {
    color: #000;
}

.alert-container{
    display: flex;
    align-items: center; 
    padding: 10px;   
}

.alert-container:hover{
    background-color: #f0ad4e;
    cursor: pointer;
}


.alert-container-active {
    background: #f0ad4e;
}



.alert-content{
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.alert-content span{
    font-size: 12px;
}

.alert-status { 
    border-radius: 5px;
    padding: 2px 6px; 
    text-align: center;  
    font-size: 12px;
    text-transform: capitalize;
}

.alert-status-active{
    background-color: #f37272; 
    color: #fff;  
}

.alert-status-dispatched{
    background-color: #f0ad4e;
    color: #fff;
}

.alert-status-closed {
    background-color: #5cb85c;
    color: #fff;
}


.alert-button-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-end;
    gap: 10px;
}

.relative{
    position: relative;
}

.alert-notify-wrapper{
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    height: 100px;
    width: 400px;
    z-index: 1000;
}

.flex{
    display: flex;
}
.justify-content-end{
    justify-content: flex-end;
}
.gap-10{
    gap: 10px;
}

.map{
    display: "flex";
    flex-direction: column;
    min-Height: "100vh";
}
.w-full {
    width: 100%;
}

.xpanel-header{
    height: 38px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.w-90 {
    width: 90px;
}



