// Here you can add other styles

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-gap {
    display: flex;
    gap: 10px;    
}

.newLink{
    margin-left: 10px;
}


.avatar-name{
    display: block;
}
.avatar-email{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper{
    display: flex;
}

.user-profile-wrapper label{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper span{
     
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter-icon {
    display: flex;
    align-items: center; 
    margin-left: -15px;    
}

.custom-pagination-wrapper{
    display: flex;
    justify-content: space-between; 
    align-items: center;    
}


.pagination-label {
    font-size: 12px;
}

.alert-wrapper {
    display: flex;
}

.alert-icon {
    margin-right: 20px;
}

.alert-body p {
    margin-bottom: 0 !important;
}

.count {
    font-size: 2rem;
}

.container-center-items{
    display: flex;
    align-items: center;      
}
.capitalize {
    text-transform: capitalize;
}

.float-right {
    float: right;
}

.status {
    background-color: #3498db; /* Change to your desired color */
    border-radius: 5px; /* Adjust for more or less rounding */
    padding: 3px 10px; 
    // height: 100px; /* Example height */
    text-align: center;
    color: white;
    font-size: 12px;
}

.status-active{
    background-color: #5cb85c;
}

.status-inactive{
    background-color: #f0ad4e;
    color: #000;
}

.header-logo{
    font-size: 20px;
}

.nav-link-btn{
    width: 100%;
}

.breadcrumb-item-a{
    text-decoration: none;
    color: #f3f4f7;
    cursor: default;
}

.breadcrumb-item-a:hover {
    text-decoration: none; 
}

.alert-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 10px;
}

.device-header{
    height: 38px;
    display: flex;
    align-items: center;    
}

.text-black-a {
    color: #000;
}
