// Here you can add other styles

.btn-gap {
    display: flex;
    gap: 10px;    
}

.newLink{
    margin-left: 10px;
}


.avatar-name{
    display: block;
}
.avatar-email{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper{
    display: flex;
}

.user-profile-wrapper label{
    display: block;
    font-size: 12px;
}

.user-profile-wrapper span{
    display: block;
   
}

